.prodCardMain{
    height: 516px;
    width: 376px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
}

.prodCardMain:hover{
        border: 1px solid #e46e39;
}
.prodCardImage{
    background-image: url("../../assets/Mask\ Group\ 3.webp");
    height: 258px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.prodCardContent{
    height: 238px ;
    background-image: linear-gradient(to bottom, #ff7c2b 50%, #ffa46e);
    padding-left: 5%;
    padding-top: 20px;
    color: white;
    position: relative;
    border-radius:  0px 0px 10px 10px;
}
.prodCardButtonSection{
    height: 20%;
    position: absolute;
    width: 90%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    column-gap: 10px;
}
.prodCardButtonSectionRoundButton{
    right: 0px;
    width: 52px;
    height: 52px;
    padding: 19px 18px 19.7px 18px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prodCardButtonSectionOrderButton{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.prodCardButtonSectionRoundButton:hover {
    border: 2px solid white;
    background: #e46e39;
}
.prodCardButtonSectionRoundButton:hover svg {
    color: white;
}
.prodCardButtonSectionRoundButton svg{
    color: #e46e39;
}