.heroDiv {
	/* background-image: url("../../assets/Mask\ Group\ 15.webp"); */
	height: 100vh;
	width: 100%;
	/* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
	display: flex;
	justify-content: center;
	font-family: "Axiforma";
	overflow-x: hidden;
}

.heroDivContent {
	height: 20vh;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.productSection {
	height: 80vh;
	display: flex;
	margin-top: 20vh;
	align-items: flex-start;
	justify-content: center;
}

.sectionHeading {
	text-decoration: underline;
	text-decoration-color: #e46e39;
	text-underline-offset: 0.5rem;
	text-decoration-thickness: 0.2rem;
	margin-bottom: 20px !important;
}

.productSectionNavButton {
	width: 52px;
	height: 52px;
	padding: 19px 18px 19.7px 18px;
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.08);
	border: solid 1px #d9d9d9;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.productSectionNavButton:hover {
	border: 1px solid #e46e39;
}

.productSectionProdButton {
	background: transparent;
	border: none;
	font-size: 16px;
	text-decoration: underline;
	cursor: pointer;
}

.productSectionProdButton:hover {
	color: #e46e39;
}

.productSectionCardSection {
	column-gap: 10px;
}

.productSectionContentSection {
	height: 10px !important;
}

.certifiedSection {
	height: 70vh;
}

.certifiedSectionMain {
	height: 80%;
	position: relative;
}

.certifiedSectionBack {
	margin-top: 20px !important;
	margin-left: -5% !important;
	height: 90%;
	background-image: url("../../assets/Group\ 559.webp");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.certifiedSectionContent {
	height: 80%;
}

.certifiedSectionImages {
	height: 30%;
}

.certifiedSectionImages1 {
	background-image: url("../../assets/Group\ 557.webp");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.certifiedSectionImages2 {
	background-image: url("../../assets/Group\ 556.webp");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.certifiedSectionImages3 {
	background-image: url("../../assets/Group\ 555.webp");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.aboudUsSection {
	height: 115vh;
	padding-bottom: 30vh;
	background-color: #f7f7f7;
}

.aboudUsSectionMain {
	height: 70vh;
	position: relative;
}

.aboudUsSectionContent {
	height: 10px;
}

.aboudUsSectionImage {
	background-image: url("../../assets/Mask\ Group\ 6.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.aboudUsSectionImage2 {
	border: 1px solid red;
	position: absolute;
	height: 160px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.08);
	border: solid 1px #ededed;
	width: 866px;
	bottom: -5vh;
	display: flex;
}

.aboudUsSectionImage2 .first {
	height: 100%;
	width: 25%;
	flex-direction: column;
}

.aboudUsSectionImage2 .second {
	height: 100%;
	width: 25%;
	flex-direction: column;
}

.aboudUsSectionImage2 .third {
	height: 100%;
	width: 25%;
	flex-direction: column;
}

.aboudUsSectionImage2 .fourth {
	flex-direction: column;
	height: 100%;
	width: 25%;
}

.homeBannerMain {
	height: 230px;
	margin-top: -115px !important;
	width: 100%;
	background-image: url("../../assets/Mask\ Group\ 4.webp");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column !important;
	color: white;
	padding-left: 5%;
	border-radius: 12px;
	justify-content: center;
}

.reviewSection {
	height: 691px;
}

.reviewSectionMain {
	height: 100%;
}

.reviewSectionCotent {
	height: 10vh;
	margin-top: 79px !important;
}

.reviewSectionVerticalCrausel {
	height: 100%;
}

.blogSection {
	height: 637px;
	background-color: #f7f7f7;
}

.footerSection {
	height: 300px;
	background-color: #f7f7f7;
	border-top: 1px solid #cecece;
}

@media only screen and (max-width: 720px) {
	.heroDiv {
		background-position: bottom;
		/* background-size: contain; */
		height: 85vh !important;
		/* background-color: rgb(243, 243, 243) */
	}

	.cursoualContainerClass {
		height: 80vh !important;
		background-size: contain !important;
		background-position: top;
	}
	.heroDivContent {
		display: none !important;
	}
}

@keyframes slide-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

.cursoualContainerClass {
	height: 95vh;
}

@media only screen and (min-width: 992px) {
	.heroDiv {
		background-position: bottom;
		height: 80vh !important;
	}

	.cursoualContainerClass {
		height: 75vh !important;
		background-size: contain !important;
		background-position: top;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.heroDiv {
		background-position: bottom;
		height: 100vh !important;
	}

	.cursoualContainerClass {
		height: 95vh !important;
		background-size: cover !important;
		background-position: top;
	}
}

.nav-buttons {
    top: 50%;
    transform: translateY(-50%);
    z-index: 10 !important;
  }
  
  .nav-button {
    position: absolute;
    z-index: 100 !important;
  }
  
  /* Optional: If you want to style the buttons further */
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
